body,html{
    background-color:#2e2e2e;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    height:6rem;
    width:100%;
    background-color:#000000;
}

.header>img{
    height:4.5rem;
    width:4.5rem;
    margin-left:2rem;
    margin-top:.75rem;
}

.header>img:hover{
    cursor:pointer;
}

.footer {
    height:5rem;
    width:100%;
    position:fixed;
    bottom:0;
    background-color:#424242;
}

h1{
    color:#ffffff;
}

table {
    width:75%;
    margin-left:12.5%;
    background-color:#c3a4c7;
    border-radius:10px;
}

td{
    text-align:center;
    height:2.5rem;
    cursor:default;
}

td.note{
    border:none;
    cursor:pointer;
}

td.current{
    background-color:#ab80b1;
}

td.note:hover{
    background-color:#b38cb8;
}

.jumbotron{
    text-align:center;
    width:100%;
}

.jumbotron>button{
    margin-top:1rem;
    padding:1rem;
    font-size:25pt;
}

img.created{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

button{
    border-radius:10px;
    border:0;
    background-color:#693970;
    color:white;
    margin:1rem;
    cursor:pointer;
}
